body {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  background-color: #ccc;
}

.container h1 {
  margin: 0;
  color: #333;
}

.container.dark {
  background-color: #333;
}
.container.dark h1 {
  color: #ccc;
}




















































































